/* REM CALCULATOR:
18
48,19,30,60,40,45,16,36,14,50,70 */

/* Подключение нестандартного шрифта, которого не было на Google Fonts */
@font-face {
  font-family: "Bebas Neue", serif;
  src: local("Bebas Neue"),
       url(../fonts/BebasNeue.otf) format('opentype');
}

html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  font-family: 'Bebas Neue';
  font-weight: 600;
  font-size: 2.667rem;
  color: #dc0000;
  text-decoration: none;
}

.logo span {
  font-size: 2rem;
  font-weight: 300;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.navigation-links li:not(:last-child) a {
  margin-right: 3rem;
}

.main-header {
  background-image: url('../img/header-background.jpg');
  background-color: #9b9ca1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 300px;
  position: relative;
  margin-bottom: 90px;
}

.header-content {
  color: white;
  text-align: center;
  margin-top: 250px;
}

.header-content span,
.header-content p {
  font-size: 1.667rem;
  line-height: 1rem;
  font-weight: 300;
  margin: 0;
}

.header-content span {
  letter-spacing: 0.7778rem;
}

.header-content p {
  margin-bottom: 3.889rem;
}

.header-content h2 {
  font-size: 2.5rem;
  line-height: 1.056rem;
  margin: 0;
  margin-top: 2.778rem;
  margin-bottom: 2.778rem;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Обращать внимание на маргины соседних
  элементов: будут больше, т.к.
  границы теперь на тексте. */
  text-decoration: none;
  border: 2px solid white;
  font-family: 'Lato', sans-serif;
  font-weight: black;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header-btn {
  border-color: white;
  font-size: 1rem;
  padding: 20px 50px;
  margin-top: 50px;
}

.header-btn:hover {
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

.slider-controls {
  width: 80px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-controls label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
}


#slide-1:checked~ .slider-controls label[for=slide-1] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

#slide-2:checked~ .slider-controls label[for=slide-2] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

#slide-3:checked~ .slider-controls label[for=slide-3] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

#slide-4:checked~ .slider-controls label[for=slide-4] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

.header-content input {
  display: none;
}

.slidescreen {
  display: none;
}

#slide-1:checked~ .slider-wrap .slidescreen-1 {
  display: block;
}

#slide-2:checked~ .slider-wrap .slidescreen-2 {
  display: block;
}

#slide-3:checked~ .slider-wrap .slidescreen-3 {
  display: block;
}

#slide-4:checked~ .slider-wrap .slidescreen-4 {
  display: block;
}

main h2 {
  position: relative;
  font-weight: 300;
  font-style: italic;
  font-size: 2.222rem;
  text-align: center;
  line-height: 1.056rem;
}

main h2::before {
  width: 111px;
  height: 3px;
  content: '';
  background-color: #dc0000;
  border-left: 1px solid #e88d8d;
  border-right: 1px solid #e88d8d;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -55px;
}

main h2::after {
  width: 111px;
  height: 3px;
  content: '';
  background-color: #dc0000;
  border-left: 1px solid #e88d8d;
  border-right: 1px solid #e88d8d;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -55px;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
}

.products a {
  text-decoration: none;
}

.products .product {
  width: 370px;
  height: 420px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 31px 28px;
}

.product.men {
  background-image: url(../img/product-men.jpg);
  background-color: #434550;
}

.product .product-info {
  border: 3px solid white;
  height: 100%;
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 2.222rem;
  text-align: center;
  padding-top: 46%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product.woman {
  background-image: url(../img/product-woman.jpg);
  background-color: #473132;
}

.product.watches {
  background-image: url(../img/product-watch.jpg);
  background-color: #1c1e28;
}

.discounts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.discounts .discount {
  width: 570px;
  height: 420px;
}

.discount.autumn {
  background-image: url(../img/autumn-background.jpg);
}

.discount.spirit {
  background-image: url(../img/spirit-background.jpg);
}

.discount-info {
  position: relative;
  color: white;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: 'Lato';
  font-weight: 900;
  margin: 140px auto;
}

.discount.autumn .discount-info {
  width: 290px;
}

.discount.spirit .discount-info {
  width: 435px;
}

.discount.spirit .discount-info {
  text-transform: uppercase;
}
.discount-info::before,
.discount-info::after {
  content: '';
  position: absolute;
  width: 192px;
  height: 1px;
  background-color: white;
  left: 50%;
  margin-left: -97px;
}

.discount-info::before {
  top: -22px;
}

.discount-info::after {
  bottom: -22px;
}

.shop-new {
  margin-bottom: 60px;
}

.trending {
  background-image: url(../img/trending-background.jpg);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 130px;
  position: relative;
  margin-bottom: 100px;
}

.trending h2 {
  margin-bottom: 80px;
}

.trending input[type="radio"] {
  display: none;
}

.trending-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.trending-product .product-info {
  max-width: 570px;
}

header .product-name,
header .topic {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 1.667rem;
  line-height: 1.667rem;
  text-transform: uppercase;
  color: #dc0000;
  margin-top: 30px;
  margin-bottom: 30px;
}

header .collection,
header .author {
  display: block; /* Я генста, я блочным делаю спан! Посмотри на мой код - я хулиган! */
  font-size: 0.8889rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333;
}

header:not(.main-header) {
  margin-bottom: 60px;
}

.product-description header {
  position: relative;
}

.product-description header::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 1px;
  background-color: #000;
  bottom: -31px;
}

.product-description,
.blog-post {
  font-family: 'Lato', sans-serif;
  color: #909090;
}

.blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-description p:first-of-type {
  margin-bottom: 35px;
}

.product-description p:last-of-type {
  margin-top: 0;
}
.blog-post {
  max-width: 570px;
}

.sizing {
  margin-top: 90px;
}

.sizing input {
  display: block;
}

.sizing label,
.shopping-links a{
  padding: 19px 27px;
  border: 1px solid #333333;
  font-weight: 700;
  font-size: 0.8889rem;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-right: 30px;
  margin-left: 0;
}

.sizing label:last-child {
  width: 70px;
  height: 50px;
  padding: 20px;
}

label[for=size-xl] {
  width: 70px;
  height: 50px;
  padding: 20px 22px;
}

.shopping-links a{
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 170px;
  padding: 20px 40px;
}

.sizing label:hover,
.shopping-links .btn:hover {
  border-color: #dc0000;
}

#size-m:checked~ label[for="size-m"] {
  background-color: #333333;
  color: white;
}

#size-l:checked~ label[for="size-l"] {
  background-color: #333333;
  color: white;
}

#size-xl:checked~ label[for="size-xl"] {
  background-color: #333333;
  color: white;
}

#size-xxl:checked~ label[for="size-xxl"] {
  background-color: #333333;
  color: white;
}

.shop-slider-controls {
  position: absolute;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  bottom: 60px;
  left: 50%;
  margin-left: -40px;
}

.shop-slider-controls label {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #868686;
  cursor: pointer;
}

#product-1:checked~ .shop-slider-controls label[for=product-1] {
  background-color: transparent;
  border: 2px solid #dc0000;
}

#product-2:checked~ .shop-slider-controls label[for=product-2] {
  background-color: transparent;
  border: 2px solid #dc0000;
}

#product-3:checked~ .shop-slider-controls label[for=product-3] {
  background-color: transparent;
  border: 2px solid #dc0000;
}

#product-4:checked~ .shop-slider-controls label[for=product-4] {
  background-color: transparent;
  border: 2px solid #dc0000;
}

.shopping-links {
  margin-top: 70px;
}

.shopping-links .btn:active {
  background-color: #333333;
  color: white;
}

.trending-product {
  display: none;
}

#product-1:checked~ .product-display .trending-product:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product-2:checked~ .product-display .trending-product:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#product-3:checked~ .product-display .trending-product:nth-of-type(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


#product-4:checked~ .product-display .trending-product:nth-of-type(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog h2 {
  margin-bottom: 102px;
}

.blog .description {
  margin-bottom: 85px;
}

.blog-content {
  margin-bottom: 80px;
}

.blog-post .btn {
  width: 170px;
  height: 51px;
  padding: 19px 37px;
  border: 1px solid #333333;
  color: #333333;
  font-size: 0.8889rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.blog-post .btn:hover {
  background-color: #333333;
  color: white;
}

.main-footer {
  background-image: url(../img/form-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0;
  margin-bottom: 160px;
}

.main-footer p {
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}

.main-footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-footer input[type=email] {
  width: 640px;
  height: 52px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 300;
  font-size: 0.7222rem;
  padding-left: 80px;
  text-transform: uppercase;
  background-image: url(../img/email.svg);
  background-repeat: no-repeat;
  background-position: 30px 21px;
}

.main-footer input[type=email]::-webkit-input-placeholder {
  color: white;
  font-weight: 300;
  font-size: 0.7222rem;
}

.main-footer input[type=email]:-ms-input-placeholder {
  color: white;
  font-weight: 300;
  font-size: 0.7222rem;
}

.main-footer input[type=email]::placeholder {
  color: white;
  font-weight: 300;
  font-size: 0.7222rem;
}

.main-footer .btn {
  width: 270px;
  height: 55px;
  border: 1px solid white;
  border-radius: 0px;
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.main-footer .btn:hover {
  background-color: black;
  color: white;
  border-color: black;
}






