/* REM CALCULATOR: 
18
48,19,30,60,40,45,16,36,14,50,70 */

/* Подключение нестандартного шрифта, которого не было на Google Fonts */
@font-face {
  font-family: "Bebas Neue", serif;
  src: local("Bebas Neue"),
       url(../fonts/BebasNeue.otf) format('opentype');
}

html {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: 'Bebas Neue';
  font-weight: 600;
  font-size: 2.667rem;
  color: #dc0000;
  text-decoration: none;
}

.logo span {
  font-size: 2rem;
  font-weight: 300;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav li {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
  margin-top: 0.75rem;
}

.navigation-links a {
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.navigation-links li:not(:last-child) a {
  margin-right: 3rem;
}

.main-header {
  background-image: url('../img/header-background.jpg');
  background-color: #9b9ca1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 300px;
  position: relative;
  margin-bottom: 90px;
}

.header-content {
  color: white;
  text-align: center;
  margin-top: 250px;
}

.header-content span,
.header-content p {
  font-size: 1.667rem;
  line-height: 1rem;
  font-weight: 300;
  margin: 0;
}

.header-content span {
  letter-spacing: 0.7778rem;
}

.header-content p {
  margin-bottom: 3.889rem;
}

.header-content h2 {
  font-size: 2.5rem;
  line-height: 1.056rem;
  margin: 0;
  margin-top: 2.778rem;
  margin-bottom: 2.778rem;
}

.btn {
  box-sizing: border-box; 
  /* Обращать внимание на маргины соседних 
  элементов: будут больше, т.к. 
  границы теперь на тексте. */
  text-decoration: none;
  border: 2px solid white;
  font-family: 'Lato', sans-serif;
  font-weight: black;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.header-btn {
  border-color: white;
  font-size: 1rem;
  padding: 20px 50px;
  margin-top: 50px;
}

.header-btn:hover {
  background-color: white;
  color: rgba(0, 0, 0, 1);
}

.slider-controls {
  width: 80px;
  height: 20px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider-controls label {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  position: relative;
}


#slide-1:checked~ .slider-controls label[for=slide-1] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

#slide-2:checked~ .slider-controls label[for=slide-2] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

#slide-3:checked~ .slider-controls label[for=slide-3] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

#slide-4:checked~ .slider-controls label[for=slide-4] {
  background-color: transparent;
  width: 12px;
  height: 12px;
  border: 2px solid white;
}

.header-content input {
  display: none;
}

.slidescreen {
  display: none;
}

#slide-1:checked~ .slider-wrap .slidescreen-1 {
  display: block;
}

#slide-2:checked~ .slider-wrap .slidescreen-2 {
  display: block;
}

#slide-3:checked~ .slider-wrap .slidescreen-3 {
  display: block;
}

#slide-4:checked~ .slider-wrap .slidescreen-4 {
  display: block;
}

main h2 {
  position: relative; 
  font-weight: 300;
  font-style: italic;
  font-size: 2.222rem;
  text-align: center;
  line-height: 1.056rem;
}

main h2::before {
  width: 111px;
  height: 3px;
  content: '';
  background-color: #dc0000;
  border-left: 1px solid #e88d8d;
  border-right: 1px solid #e88d8d;
  position: absolute;
  top: -25px;
  left: 50%;
  margin-left: -55px;
}

main h2::after {
  width: 111px;
  height: 3px;
  content: '';
  background-color: #dc0000;
  border-left: 1px solid #e88d8d;
  border-right: 1px solid #e88d8d;
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -55px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 95px;
}

.products .product {
  width: 370px;
  height: 420px;
  box-sizing: border-box;
  padding: 31px 28px;
}

.product.men {
  background-image: url(../img/product-men.jpg);
  background-color: #434550;
}

.product .product-info {
  border: 3px solid white;
  height: 100%;
  color: white;
  font-weight: 300;
  font-style: italic;
  font-size: 2.222rem;
  text-align: center;
  padding-top: 46%;
  box-sizing: border-box;
}

.product.woman {
  background-image: url(../img/product-woman.jpg);
  background-color: #473132;
}

.product.watches {
  background-image: url(../img/product-watch.jpg);
  background-color: #1c1e28;
}

.discounts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.discounts .discount {
  width: 570px;
  height: 420px;
}

.discount.autumn {
  background-image: url(../img/autumn-background.jpg);
}

.discount.spirit {
  background-image: url(../img/spirit-background.jpg);
}

.discount-info {
  position: relative;
  color: white;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: 'Lato';
  font-weight: 900;
  margin: 140px auto;
}

.discount.autumn .discount-info {
  width: 290px;
}

.discount.spirit .discount-info {
  width: 435px;
}

.discount.spirit .discount-info {
  text-transform: uppercase;
}
.discount-info::before,
.discount-info::after {
  content: '';
  position: absolute;
  width: 192px;
  height: 1px;
  background-color: white;
  left: 50%;
  margin-left: -97px;
}

.discount-info::before {
  top: -22px;
}

.discount-info::after {
  bottom: -20px;
}

.shop-new {
  margin-bottom: 60px;
}

.trending {
  background-image: url(../img/trending-background.jpg);
  padding-top: 60px;
}


.main-footer {
  background-image: url(../img/form-background.jpg);
}




